body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/coyote-pexels-ana-karenina-14972829.jpg);
    background-size: 150px 200px;
    color: #A9714B;
}

h1 {
    background-color: #262A10;
    color: #E8985E;
}

h2 {
    background-color: #E8985E;
    color: #262A10;
    font-size: 4em;
    padding: 0.25em 0.5em 0.25em 0.5em;
}