body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/coyote-pexels-ana-karenina-14972829.jpg);
    background-size: 150px 200px;
    color: #A9714B;
}

h1 {
    background-color: #54442B;
    color: #E8985E;
    padding: 0.1em 0.25em 0.1em 0.25em; 
    border-radius: 15px;
    margin: 50px 0px 10px 0px;
}

h2 {
    background-color: #E8985E;
    color: #262A10;
    font-size: 4em;
    padding: 0.25em 0.5em 0.25em 0.5em;
    border-radius: 25px;
    margin: 15px 10px 20px 10px;
}

button {
    width: 15em;
    padding: 10px 0px 10px 0px;
    border-radius: 15px;
}

#counter-btn {
    background-color: #54442B;
    color: #E8985E;
}

#subtractor-btn {
    background-color: #E8985E;
    color: #262A10;
}

#save-btn {
    background-color: #54442B;
    color: #E8985E;
}